server:
  port: 80
  servlet:
      context-path: /
  tomcat:
    uri-encoding: utf-8

mybatis:
  configuration:
    use-generated-keys: true  #true：插入记录后，如果是自增主键，那么反写到实体类中
    use-column-label: true
    map-underscore-to-camel-case: true
    lazy-loading-enabled: true
    aggressive-lazy-loading: false
    cache-enabled: false
  type-aliases-package: com.aidilude.moochat.pojo

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/moo_chat?useUnicode=true&characterEncoding=UTF-8&useSSL=false
    username: colabread
    password: quechao007
    dbcp2:
      initial-size: 10
      min-idle: 10
      max-total: 20
      max-wait-millis: 5000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 60000
      validation-query: SELECT 1
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      remove-abandoned-timeout: 60

